<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <%- include("../partials/nav.ejs") %>
    <div class="details content">
        <h2> <%= item.name %> </h2>
        <div class="content">
            <p> Description: <%= item.description %></p>
            <p> Category: <%= item.category %></p>
            <p> Price: <%= item.price %></p>
            <p> Number in stock: <%= item.numberInStock %></p>
        </div>
        <div class="icon-container">
          <a class="edit" data-id="<%= item._id %>" data-name="<%= item.name %>" data-description="<%= item.description %>" data-category="<%= item.category %>" 
            data-price="<%= item.price %>" data-numinstock="<%= item.numberInStock %>">
            <img src="/images/edit.svg" alt="edit icon">
          </a>
          <a class="delete" data-id="<%= item._id %>" data-name="<%= item.name %>">
            <img src="/images/trashcan.svg" alt="trash icon">
          </a>
        </div>
    </div>
    
    <div id="editModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <form id="editForm">
          <label for="editName">Name:</label>
          <input type="text" id="editName" name="editName" required>
          <label for="editDescription">Description:</label>
          <textarea id="editDescription" name="editDescription" required></textarea>
          <label for="editCategory">Category:</label>
          <select id="editCategory" name="editCategory">
            <% if (categories && categories.length > 0) { %>
              <% categories.forEach(category => { %>
                <option value="<%= category.name %>"><%= category.name %></option>
              <% }) %>
            <% } else { %>
              <option value="" disabled selected>No categories available</option>
            <% } %>
          </select>
          <label for="editPrice">Item price:</label>
          <input type="text" id="editPrice" name="editPrice" required>
          <label for="editNumberInStock">Number in stock:</label>
          <input type="text" id="editNumberInStock" name="editNumberInStock" required>
  
          <button type="button" onclick="submitEditForm()">Save Changes</button>
        </form>
      </div>
    </div>

    <script>
      // edit
      const editButton = document.querySelector('.edit');
      const editModal = document.getElementById('editModal');
      const editNameInput = document.getElementById('editName');
      const editDescriptionInput = document.getElementById('editDescription');
      const editCategoryInput = document.getElementById('editCategory');
      const editPriceInput = document.getElementById('editPrice');
      const editNumberInStockInput = document.getElementById('editNumberInStock');

      editButton.addEventListener('click', () => {
        // populate values from data 
        editNameInput.value = editButton.dataset.name;
        editDescriptionInput.value = editButton.dataset.description;
        editCategoryInput.value = editButton.dataset.category;
        editPriceInput.value = editButton.dataset.price;
        editNumberInStockInput.value = editButton.dataset.numinstock;

        editModal.style.display = 'block';
      });

      function closeEditModal() {
      editModal.style.display = 'none';
    }

    function submitEditForm() {
      const id = editButton.dataset.id;
      const newName = editNameInput.value;
      const newDescription = editDescriptionInput.value;
      const newCategory = editCategoryInput.value;
      const newPrice = editPriceInput.value;
      const newNumberInStock = editNumberInStockInput.value;

      // Make a request to update the data on the server
      fetch(`/item/${id}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          name: newName,
          description: newDescription,
          category: newCategory,
          price: newPrice,
          numberInStock: newNumberInStock
        }),
      })
        .then(response => response.json())
        .then(data => {
          // Redirect to the updated category details page
          window.location.href = data.redirect;
        })
        .catch(err => console.error(err));
      
      // Close the modal
      closeEditModal();
    }

      const trashcan = document.querySelector('a.delete')
      trashcan.addEventListener('click', (e) => {
        const endpoint = `/item/${trashcan.dataset.id}`
        fetch(endpoint, {
          method: 'DELETE'
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err))
      })
    </script>
  </body>
</html>
    
